body {
  background-color: #5167ac;
  max-width: 500px;
  margin: 0 auto;
  border-style: solid;
}

button.remove:hover{background-color: #FF4F55;

}
h1{
  text-align: center;
}
input{

  cursor: pointer;

}
input:focus {
  cursor: pointer;
  outline: none;
  background-color: lightblue;
}

li {
  text-align: left;
  font-size: 45px;
  font-style: normal;
  list-style: none;
  margin: 0;
}

ul li {
  cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;

}

ul li:hover {
  background: lightgrey;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: black;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
